/* line 15, glow.scss */
button {
  margin: 1em;
  padding: 1em;
  border-radius: 10em;
  border: 0;
  color: #fefefe;
  background-color: #666666;
  text-transform: uppercase;
  font-weight: 500;
}
/* line 24, glow.scss */
button.running.on {
  transition: all 200ms ease-in ease-out;
  background-color: #cc0000;
}

/* line 33, glow.scss */
.grid {
  background-color: #fefefe;
}
/* line 34, glow.scss */
.grid div {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
}
/* line 41, glow.scss */
.grid .row {
  display: block;
}
/* line 43, glow.scss */
.grid .row .cell {
  border: 1px solid rgba(0, 0, 0, 0.13);
  padding: 1px;
}
/* line 46, glow.scss */
.grid .row .cell .led {
  height: 1em;
  width: 1em;
  margin: 1px 2px 0 1px;
  border-radius: 1em;
  background-color: #cccccc;
}
/* line 52, glow.scss */
.grid .row .cell .led.on {
  background-color: #cc0000;
}

/* line 60, glow.scss */
.code {
  height: 11em;
  width: 100%;
}
